[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/cpp_itt"]
	path = external/cpp_itt
	url = git@github.com:senior-zero/cpp_itt.git
