QWidget
{
    background-color: white;
    color: black;
}

section_name QLabel
{

    font-size: 20px;
    color: #336B87;
    /*color: #92bde5;*/
}

model_widget, model_widget QTreeView, settings_widget, graphics_widget
{
    border: 1px solid #e0e0e0;
    margin: 4px;
}

model_widget:hover, settings_widget:hover
{
    border: 1px solid #90AFC5;
    margin: 4px;
}